body {
  background-color: black;
  color: white;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  border: 3px dashed whitesmoke;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.status {
  border: 3px dashed whitesmoke;
  padding: 5px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.board {
  border: 3px dashed whitesmoke;
  padding: 6px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  width: 64px;
  height: 64px;
  float: left;
  line-height: 34px;
  margin: 5px;
  padding: 0;
  background: whitesmoke;
  border: solid 3px coral;
  border-radius: 3px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.winning-square {
  background: lawngreen;
}

.board-states {
  width: 200px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  border: solid 3px transparent;
  cursor: pointer;
}

button:hover {
  border: solid 3px white;
}

.board-state {
  margin: 5px;
  padding: 5px 10px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
  outline: transparent;
  text-align: center;
  text-decoration: none;
}

.refresh-button {
  margin: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
  outline: transparent;
  text-align: center;
  text-decoration: none;
}
